body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
dl,
dt,
dd,
ul,
ol,
li,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body,
button,
input,
select,
textarea {
  font-family: 'helvetica neue', tahoma, 'hiragino sans gb', stheiti,
  'wenquanyi micro hei', '微软雅黑', '宋体', sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #535353;
}

a:hover {
  text-decoration: none;
  outline: 0;
}

a:active {
  outline: 0;
}

img {
  border: 0;
}

button {
  outline: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 滚动条优化 start */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}

::-webkit-scrollbar-corner {
  background-color: var(--el-bg-color);
}

::-webkit-scrollbar {
  height: 10px !important;
  width: 10px !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-style: dashed;
  background-color: rgba(157, 165, 183, 0.4);
  border-color: transparent;
  border-width: 2px;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(157, 165, 183, 0.4)
}
/* 滚动条优化 end */

/* nprogress */
#nprogress .bar {
  background: var(--el-color-primary) !important;
}
#nprogress .spinner-icon {
  border-top-color: var(--el-color-primary) !important;
  border-left-color: var(--el-color-primary) !important;
}
#nprogress .peg {
  box-shadow:
    0 0 10px var(--el-color-primary),
    0 0 5px var(--el-color-primary) !important;
}
/* nprogress end */

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt40 {
  margin-top: 40px;
}

.mt60 {
  margin-top: 60px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb60 {
  margin-bottom: 60px;
}
.nowrap {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
}

.page-wrap {
  overflow-y: auto;
  box-sizing: border-box;
  height: 100%;
  //height: calc(100vh - 190px);
  background-color: var(--el-bg-color);
  padding: 20px;
  border-radius: 8px;

  h3 {
    display: flex;
    align-items: center;

    .el-icon {
      margin-right: 4px;
      padding: 6px;
      color: var(--el-color-primary);
      border-radius: 50%;

      &.bg {
        background-color: var(--el-color-primary-light-9);
      }
    }
  }
}

.card-wrap {
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 20px;
  background-color: var(--el-bg-color);
  border-radius: 4px;
  box-shadow: var(--el-box-shadow-lighter);

  h3 .el-icon {
    margin-right: 4px;
    padding: 6px;
    // background-color: var(--el-color-primary-light-9);
    color: var(--el-color-primary);
    border-radius: 50%;
  }
}

.dark .page-wrap{
  border: 1px solid var(--el-border-color);
}
